<div id ="headerSection">
  <h2>Eat A Burger</h2>
</div>

<div id="middleSection">

  <div class="leftMiddle">
    <div class="uneaten center">
      {{#each burger}}
        {{#unless devoured}}
          {{> burgers/burger-block devoured=1}}
        {{/unless}}
      {{/each}}
    </div>
  </div>

  <div class="centerMiddle">
    <div class="center">
      <input id="burgerName" type="text" placeholder="Name of Your Burger" data-eaten="0">
      <button id="addBurger" type="button">Add A Burger</button>
    </div>
  </div>

  <div class="rightMiddle">
    <div class="eaten center">
      {{#each burger}}
        {{#if devoured}}
          {{> burgers/burger-block devoured=0}}
        {{/if}}
      {{/each}}
    </div>
  </div>

</div>
